<div class="{{ page.sticky }}" id="banner">
		<div id="main-nav-holder">
			<nav id="main-nav">
				<ul>
				<li><a href="{% if page.lang == 'fr' %}{% else %}/en{% endif %}/#home"><img id="logo" src="/stylesheets/img/logo_7ay.png" alt="7AY"></a></li>

				<li class="nav-link nav-link-internal"><a title="Twitter" href="https://twitter.com/7ay_"><img src="/stylesheets/img/twitter-bird-dark-bgs.png" alt="" /></a></li>
                <li class="nav-link nav-link-internal"><a title="Facebook" href="https://www.facebook.com/7AYcoworking"><img src="/stylesheets/img/facebook-dark-bgs.png" alt="" /></a></li>
				<li class="iconDivider nav-link-internal"><img src="/stylesheets/img/divider.png" alt="" /></li>
				<li class="nav-link nav-link-internal"><a title="{% if page.lang == 'fr' %}Événnements à 7AY{% else %}Events at 7AY{% endif %}" href="{% if page.lang == 'fr' %}{% else %}/en{% endif %}/#events"><img src="/stylesheets/img/icon_events.png" alt="Calendar Icon" /></a></li>
				<li class="nav-link nav-link-internal"><a title="{% if page.lang == 'fr' %}Accès / Contact{% else %}Where is it?{% endif %}" href="{% if page.lang == 'fr' %}{% else %}/en{% endif %}/#contact"><img src="/stylesheets/img/icon_location.png" alt="Map Spot Icon" /></a></li>
				<li class="nav-link nav-link-internal"><a title="{% if page.lang == 'fr' %}L'espace de travail{% else %}The Space{% endif %}" href="{% if page.lang == 'fr' %}{% else %}/en{% endif %}/#space"><img src="/stylesheets/img/icon_space.png" alt="Space Icon" /></a></li>
                <li class="nav-link nav-link-internal"><a title="{% if page.lang == 'fr' %}Le coworking{% else %}Coworking{% endif %}" href="{% if page.lang == 'fr' %}{% else %}/en{% endif %}/#co-working"><img src="/stylesheets/img/icon_coworking.png" alt="Co-working Icon" /></a></li>
                <li class="nav-link nav-link-internal"><a title="{% if page.lang == 'fr' %}English{% else %}Français{% endif %}" href="{% if page.lang == 'fr' %}/en{% else %}/{% endif %}"><img src="/stylesheets/img/icon_{% if page.lang == 'fr' %}english{% else %}french{% endif %}.png" alt="Language Icon" /></a></li>
				</ul>
			</nav>
		</div>
	</div>
